---
######################################################################################################
# VMWARE DESTROY
######################################################################################################

######################################################################################################
# LEAVE DOMAIN
######################################################################################################
- hosts: all
  tasks:
    - name: Leave domain 
      shell: echo {{ ad_bind_pwd }} | realm leave -r {{ ad_domain }}
      become: yes
      ignore_errors: yes

#######################
# Destroy Controller
#######################

- hosts: localhost
  vars:
    controller_ips: "{{ groups['controller'] | list | default([]) }}"
    gateway_ips: "{{ groups['gateway'] | list | default([]) }}"
    picasso_ips: "{{ groups['picasso'] | list | default([]) }}"
    k8s_ips: "{{ groups['k8s'] | list | default([]) }}"
    mapr_ips: "{{ groups['mapr'] | list | default([]) }}"

  gather_facts: no
  tasks:

  - name: Destroy controller
    vmware_guest:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      name: "{{ item }}-ECP-CONTROLLER-{{ vm_prefix }}{{ item.split('.')[-1][-3:] }}"
      datacenter: "{{ vcenter_datacenter_name }}"
      folder: "{{ vcenter_folder }}"
      cluster: "{{ vcenter_cluster_name }}"
      datastore: "{{ vcenter_datastore }}"
      state: absent
      force: yes
    with_items: "{{ controller_ips }}"
    delegate_to: localhost
    register: _destroy_controllers
    async: 1200
    poll: 0

#######################
# Destroy GATEWAY
#######################

  - name: Destroy gateway
    vmware_guest:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      name: "{{ item }}-ECP-GATEWAY-{{ vm_prefix }}{{ item.split('.')[-1][-3:] }}"
      datacenter: "{{ vcenter_datacenter_name }}"
      folder: "{{ vcenter_folder }}"
      cluster: "{{ vcenter_cluster_name }}"
      datastore: "{{ vcenter_datastore }}"
      state: absent
      force: yes
    with_items: "{{ gateway_ips }}"
    delegate_to: localhost
    register: _destroy_gateways
    async: 1200
    poll: 0

#######################
# Destroy PICASSO
#######################

  - name: Destroy Picasso nodes
    vmware_guest:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      name: "{{ item }}-ECP-K8S-PICASSO-{{ vm_prefix }}{{ item.split('.')[-1][-3:] }}"
      datacenter: "{{ vcenter_datacenter_name }}"
      folder: "{{ vcenter_folder }}"
      cluster: "{{ vcenter_cluster_name }}"
      datastore: "{{ vcenter_datastore }}"
      state: absent
      force: yes
    with_items: "{{ picasso_ips }}"
    delegate_to: localhost
    register: _destroy_picasso_nodes
    async: 1200
    poll: 0

#######################
# Destroy K8S
#######################

  - name: Destroy K8s nodes
    vmware_guest:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      name: "{{ item }}-ECP-K8S-{{ vm_prefix }}{{ item.split('.')[-1][-3:] }}"
      datacenter: "{{ vcenter_datacenter_name }}"
      folder: "{{ vcenter_folder }}"
      cluster: "{{ vcenter_cluster_name }}"
      datastore: "{{ vcenter_datastore }}"
      state: absent
      force: yes
    with_items: "{{ k8s_ips }}"
    delegate_to: localhost
    register: _destroy_k8s_nodes
    async: 1200
    poll: 0

#######################
# Destroy MapR
#######################

  - name: Destroy EDF nodes
    vmware_guest:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      name: "{{ item }}-EDF-{{ vm_prefix }}{{ item.split('.')[-1][-3:] }}"
      datacenter: "{{ vcenter_datacenter_name }}"
      folder: "{{ vcenter_folder }}"
      cluster: "{{ vcenter_cluster_name }}"
      datastore: "{{ vcenter_datastore }}"
      state: absent
      force: yes
    with_items: "{{ mapr_ips }}"
    delegate_to: localhost
    register: _destroy_mapr_nodes
    async: 1200
    poll: 0

  - name: Wait for deletion to finish
    async_status:
      jid: "{{ item.ansible_job_id }}"
    register: _jobs
    until: _jobs.finished
    delay: 10  # Check every 10 seconds
    retries: 20  # Retry up to 20 times - 200 seconds
    with_items: "{{ _destroy_controllers.results + _destroy_gateways.results + _destroy_k8s_nodes.results + _destroy_picasso_nodes.results + _destroy_mapr_nodes.results }}"

#######################
# Remove Folder
#######################

  - name: Delete VM folder
    community.vmware.vcenter_folder:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_password }}"
      validate_certs: False
      datacenter_name: "{{ vcenter_datacenter_name }}"
      folder_name: "{{ vcenter_folder }}"
      folder_type: vm
      state: absent
    delegate_to: localhost

######################################################################################################
# VMWARE DESTROY END
######################################################################################################
