[controller]
{{ vm_network | ansible.utils.ipmath(1) if is_runtime == 'true' else '' }}
{{ vm_network | ansible.utils.ipmath(2) if (is_runtime == 'true' and is_ha == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(3) if (is_runtime == 'true' and is_ha == 'true') else '' }}

[gateway]
{{ vm_network | ansible.utils.ipmath(4) if is_runtime == 'true' else '' }}
{{ vm_network | ansible.utils.ipmath(5) if (is_runtime == 'true' and is_ha == 'true') else '' }}

### only for mlops
[picasso]
{{ vm_network | ansible.utils.ipmath(6) if (is_runtime == 'true' and is_mlops == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(7) if (is_runtime == 'true' and is_mlops == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(8) if (is_runtime == 'true' and is_mlops == 'true') else '' }}

### 3 nodes if non-mlops, 7 nodes with mlops
[k8s]
{{ vm_network | ansible.utils.ipmath(9) if is_runtime == 'true' else '' }}
{{ vm_network | ansible.utils.ipmath(10) if is_runtime == 'true' else '' }}
{{ vm_network | ansible.utils.ipmath(11) if is_runtime == 'true' else '' }}
{{ vm_network | ansible.utils.ipmath(12) if (is_runtime == 'true' and is_mlops == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(13) if (is_runtime == 'true' and is_mlops == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(14) if (is_runtime == 'true' and is_mlops == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(15) if (is_runtime == 'true' and is_mlops == 'true') else '' }}

[mapr]
{{ vm_network | ansible.utils.ipmath(16) if is_mapr == 'true' else ''}}
{{ vm_network | ansible.utils.ipmath(17) if (is_mapr == 'true' and is_mapr_ha == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(18) if (is_mapr == 'true' and is_mapr_ha == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(19) if (is_mapr == 'true' and is_mapr_ha == 'true') else '' }}
{{ vm_network | ansible.utils.ipmath(20) if (is_mapr == 'true' and is_mapr_ha == 'true') else '' }}

[mapr:vars]
ansible_user={{ mapr_template_user }}
ansible_ssh_private_key_file={{ mapr_template_ssh_private_key_file_path }}

[all:vars]
ansible_user={{ template_user }}
ansible_ssh_private_key_file={{ template_ssh_private_key_file_path }}

###
# define vm settings
vm_prefix={{ project_id | replace(' ','_') }}
host_prefix={{ project_id | replace(' ','_') }}

vm_controller_memory='32768'
vm_controller_cpu_cores='12'
vm_controller_disk = '500'

vm_gateway_memory='8192'
vm_gateway_cpu_cores='8'

vm_picasso_memory='65536'
vm_picasso_cpu_cores='16'
vm_picasso_disk = '500'

vm_k8s_memory='32768'
vm_k8s_cpu_cores='16'
vm_k8s_disk = '500'

vm_mapr_memory='65536'
vm_mapr_cpu_cores='32'
vm_mapr_disk = '100'
