# =============================================================================
# Copyright 2022 Hewlett Packard Enterprise
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
# =============================================================================

####
#
[master]
{{ network | ansible.utils.ipmath(1) }}

[controller]
{{ network | ansible.utils.ipmath(1) }}

[gateway]
{{ network | ansible.utils.ipmath(2) }}

[picasso]
{{ network | ansible.utils.ipmath(6) }}
{{ network | ansible.utils.ipmath(7) }}
{{ network | ansible.utils.ipmath(8) }}

# exclude Picasso nodes here
[k8s]
{{ network | ansible.utils.ipmath(11) }}
{{ network | ansible.utils.ipmath(12) }}
{{ network | ansible.utils.ipmath(13) }}
{{ network | ansible.utils.ipmath(14) }}
{{ network | ansible.utils.ipmath(15) }}
{{ network | ansible.utils.ipmath(16) }}
{{ network | ansible.utils.ipmath(17) }}

[epic]

[mapr]

[all:vars]

####################
# Define DC specific tasks
#
DC={{ dc }}

###
# define vm size for the different roles
vm_contoller_memory='32 GiB'
vm_controller_cpu_cores='4'
vm_controller_cpu_socket='4'

vm_gateway_memory='8 GiB'
vm_gateway_cpu_cores='4'
vm_gateway_cpu_socket='4'

vm_picasso_memory='64 GiB'
vm_picasso_cpu_cores='4'
vm_picasso_cpu_socket='4'

vm_k8s_memory='32 GiB'
vm_k8s_cpu_cores='4'
vm_k8s_cpu_socket='4'
